body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
}

.header {
  z-index: 32;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #24292e;
}

.center-column {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.standard-top-margin {
  margin-top: 30px;
}

a {
  color: #0366d6;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer; 
}

.view-apartment-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

.view-apartment-item {
  display: flex;
  width: 300px;
  padding: 1px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  margin-bottom: 16px; }

.view-apartment-item-content {
  width: 300px;
}

.container-fl {
  margin-right: auto;
  margin-left: auto; 
}

.container-fl .view-apartment-item {
  width: 100%;
}

.container-fl .view-apartment-item-content {
  width: 100%;
}

.container-fl .listing-image{
  padding-bottom: 5%;
  height: 200px;
}

.listing-image {
  overflow: hidden;
  padding-bottom: 67%;
  position: relative;
}

.media-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b0b5bc;
  background-position: center;
}

.price-tag {
  position: absolute;
  bottom: 30px;
  left: 0;
  background-color: rgba(0,0,0,.7);
  color: #fff;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  padding: 4px 8px;
}

.text-light-white {
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  font-weight: 300;
  font-size: 15px;
}

.slash-padding {
  padding-right: 2px;
  padding-left: 3px;
}

.listing-details {
  background-color: #fff;
  padding: 8px 10px;
  line-height: 1.5;
}

.text-blue {
  color: #2c577d;
  font-size: 16px;
  margin-bottom: 6px;
  min-height: 24px;
}

.pad-left-5 {
  padding-left: 5px;
}

.pad-right-5 {
  padding-right: 5px;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-simple {
  color: #000;
  font-size: 14px;
  font-weight: 300;
}

.text-grey {
  color: #999;
  font-size: 14px;
}

.topbar-link {
  color: white;
  padding-left: 35px;
  text-decoration: none;
}

a:hover, a:active, a:visited, a:link {
  text-decoration: none;
}

.filter-tag {
  color: gray;
  font-size: 14px;
  margin-bottom: 8px;
  margin-right: 10px;
}

.filter-text-input {
  border-radius: .25rem;
  width: 100%;
  border: 1px solid #ced4da;
  margin-bottom: 8px;
  padding: 6px 12px;
}